{% extends "manage/syllabus.html" %}

{% block inner_content %}
	{% for p in policies %}
	<div class="rborder">
	<table class="aligner">
		<tr>
			<td style="width:60%">
				<input type="text" size="40" name="title{{ loop.index }}" value="{{ p.title }}" placeholder="Title" />
			</td>
			<td style="text-align:right">
				<button type="submit" name="action" value="{{ loop.index }}" tabindex="-1">Delete</button>
			</td>
		</tr>
		<tr><td colspan="2">
			<textarea rows="4" cols="60" name="desc{{ loop.index }}" placeholder="Contents/description.">{{ p.desc }}</textarea>
		</td></tr>
	</table>
	</div>
	{% endfor %}
{% endblock %}